#  Ignore Python environment files
__pycache__/

# Ignore database folder
# database/database.ini

# Ignore environment files
.env
.env.*

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store

# Ignore IDE and editor files
.vscode/

# Docker file
.dockerignore